%body.signup-login-body
  .signup-login
    %header.signup-login__header
      = render partial: 'signup/header'
      %nav.progress-bar
        %ul.progress-bar__status
          %li.complete
            会員情報
            .progress-bar__status__circle
            .progress-bar__status__line
          %li.complete
            電話番号認証
            .progress-bar__status__circle
            .progress-bar__status__line
          %li.complete
            お届け先住所入力
            .progress-bar__status__circle
            .progress-bar__status__line
          %li.active
            支払い方法
            .progress-bar__status__circle
            .progress-bar__status__line
          %li
            完了
            .progress-bar__status__circle
            .progress-bar__status__line.end      
    %main.signup-login__box
      .signup-login__box__title
        %h2 支払い方法
        %form{action: "/", method: "post", class: "form-format"} 
          .form-format__content
            = render partial: 'credit'
    %footer.signup-login__footer
      = render partial: 'signup/footer'