%a.mercari-main__middle__2__items__item{href: "https://item.mercari.com/jp/m46450207733/?_s=U2FsdGVkX18uxsjwfGCzItKvtgI81TJ8Me_CCINxR492INcmSgqg57UUaJ3OYnNePNaekCzXdQS6mey1dc3ZBDACQamYhe6yYa4M7f8qlOGJSXu24ZJTRREARPQqxvaW"}
  %figure.mercari-main__middle__2__items__item__top
    %image{src: "https://static.mercdn.net/thumb/photos/m46450207733_1.jpg?1563599930", class: "mercari-main__middle__2__items__item__top__image", alt: "帽子 ハット 石田欧子さん H.at オートモード平田"}
  .mercari-main__middle__2__items__item__bottom
    .mercari-main__middle__2__items__item__bottom__article-name
      帽子 ハット 石田欧子さん H.at オートモード平田
    .mercari-main__middle__2__items__item__bottom__price-heart
      .mercari-main__middle__2__items__item__bottom__price-heart__article-price
        ¥ 9,000
      .mercari-main__middle__2__items__item__bottom__price-heart__article-heart
        = fa_icon 'heart', class: "heart"
        .mercari-main__middle__2__items__item__bottom__price-heart__article-heart__count
          18
%a.mercari-main__middle__2__items__item{href: "https://item.mercari.com/jp/m46450207733/?_s=U2FsdGVkX18uxsjwfGCzItKvtgI81TJ8Me_CCINxR492INcmSgqg57UUaJ3OYnNePNaekCzXdQS6mey1dc3ZBDACQamYhe6yYa4M7f8qlOGJSXu24ZJTRREARPQqxvaW"}
  %figure.mercari-main__middle__2__items__item__top
    %image{src: "https://static.mercdn.net/thumb/photos/m46450207733_1.jpg?1563599930", class: "mercari-main__middle__2__items__item__top__image", alt: "帽子 ハット 石田欧子さん H.at オートモード平田"}
  .mercari-main__middle__2__items__item__bottom
    .mercari-main__middle__2__items__item__bottom__article-name
      帽子 ハット 石田欧子さん H.at オートモード平田
    .mercari-main__middle__2__items__item__bottom__price-heart
      .mercari-main__middle__2__items__item__bottom__price-heart__article-price
        ¥ 9,000
      .mercari-main__middle__2__items__item__bottom__price-heart__article-heart
        = fa_icon 'heart', class: "heart"
        .mercari-main__middle__2__items__item__bottom__price-heart__article-heart__count
          18
%a.mercari-main__middle__2__items__item{href: "https://item.mercari.com/jp/m46450207733/?_s=U2FsdGVkX18uxsjwfGCzItKvtgI81TJ8Me_CCINxR492INcmSgqg57UUaJ3OYnNePNaekCzXdQS6mey1dc3ZBDACQamYhe6yYa4M7f8qlOGJSXu24ZJTRREARPQqxvaW"}
  %figure.mercari-main__middle__2__items__item__top
    %image{src: "https://static.mercdn.net/thumb/photos/m46450207733_1.jpg?1563599930", class: "mercari-main__middle__2__items__item__top__image", alt: "帽子 ハット 石田欧子さん H.at オートモード平田"}
  .mercari-main__middle__2__items__item__bottom
    .mercari-main__middle__2__items__item__bottom__article-name
      帽子 ハット 石田欧子さん H.at オートモード平田
    .mercari-main__middle__2__items__item__bottom__price-heart
      .mercari-main__middle__2__items__item__bottom__price-heart__article-price
        ¥ 9,000
      .mercari-main__middle__2__items__item__bottom__price-heart__article-heart
        = fa_icon 'heart', class: "heart"
        .mercari-main__middle__2__items__item__bottom__price-heart__article-heart__count
          18
%a.mercari-main__middle__2__items__item{href: "https://item.mercari.com/jp/m46450207733/?_s=U2FsdGVkX18uxsjwfGCzItKvtgI81TJ8Me_CCINxR492INcmSgqg57UUaJ3OYnNePNaekCzXdQS6mey1dc3ZBDACQamYhe6yYa4M7f8qlOGJSXu24ZJTRREARPQqxvaW"}
  %figure.mercari-main__middle__2__items__item__top
    %image{src: "https://static.mercdn.net/thumb/photos/m46450207733_1.jpg?1563599930", class: "mercari-main__middle__2__items__item__top__image", alt: "帽子 ハット 石田欧子さん H.at オートモード平田"}
  .mercari-main__middle__2__items__item__bottom
    .mercari-main__middle__2__items__item__bottom__article-name
      帽子 ハット 石田欧子さん H.at オートモード平田
    .mercari-main__middle__2__items__item__bottom__price-heart
      .mercari-main__middle__2__items__item__bottom__price-heart__article-price
        ¥ 9,000
      .mercari-main__middle__2__items__item__bottom__price-heart__article-heart
        = fa_icon 'heart', class: "heart"
        .mercari-main__middle__2__items__item__bottom__price-heart__article-heart__count
          18