.breadcrumbs {
  position: relative;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background: #fff;
  padding: 16px 0;
  
  a:first-child {
    margin-left: 210px;
    margin-right: 8px;
    @media screen and (max-width: 1068px) {
      margin-left: 135px;
    }
    @media screen and (max-width: 768px) {
      margin-left: 0;
    }
  }
  a:hover {
    text-decoration: underline;
    opacity: .7;
  }
  a {
    margin: 0 8px;
    font-size: 14px;
    line-height: 1.2;
    color: #333;
  }
  span {
    margin-left: 8px;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 600;
  }
}