body.mypage{
  .fa-clock{
    font-family: FontAwesome;
    font-weight: 100;
    display: inline-block;
    color: #888;
  }
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1; 
  .mypage-content{ 
    margin: 24px auto 0;
    padding: 0 0 40px;
    &__r-content{
      float: right;      
      &__user-icon{
        position: relative;
        height: 155px;
        padding: 20px;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        box-sizing: border-box;        
        background-image: url("user-backimage.jpg");
        a{
          display: block;
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          transform: translate(0, -50%);
          color: #333;
          figure{
            overflow: hidden;
            width: 60px;
            height: 60px;
            margin: 0 auto;
            border-radius: 50%;            
          }
          h2 {
            margin: 8px 0 0;
            font-size: 14px;
          }          
        }
        section.user-info{
          span{
            margin: 0 0 0 8px;
            font-size: 16px;
          }
        }
      }
      &__index{
        ul{
          border: 0;
          background: #eee;
          .status-title, .mypage-tab, .mypage-tab2{
            width: 50%;
            text-align: center;
          }
          li{
            h3{
              font-size: 22px;
              a{
                position: relative;
                display: block;
                color: #333;
                font-size: 16px;
                line-height: 72px;                
              }
            }                        
          }
          li.is-active{
            background: #fff !important;
            border-top: 2px solid #ea352d !important;
          }          
          li.is-active2{
            background: #fff !important;
            border-top: 2px solid #ea352d !important;
          }          
        }
        &__content{
          display:none;
          ul{
            background-color: #fff;
            display: block;
            li{
              display: block;
              position: relative;
              border-bottom: 1px solid #eee;
              .item-list {
                box-sizing: border-box;
                display: block;
                min-height: 80px;
                padding: 16px;
                color: #333;
                figure{
                  position: relative;
                  overflow: hidden;
                  float: left;
                  width: 48px;
                  height: 48px;
                  img{
                    position: absolute;
                    top: 50;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                  }
                }
                .message-box{
                  margin: 0 40px 0 68px !important;
                  .message{
                    overflow: hidden;
                    display: block;
                    max-height: 4.4em;
                    line-height: 1.5;
                    z-index: 10;
                  }
                  time{
                    display: inline-block;
                    color: #888;
                    i{
                      margin-top: 3px;
                      font-size: 20px;
                    }                                        
                  }
                }  
                i.fa-chevron-right{
                  position: absolute;
                  top: 50%;
                  right: 16px;
                  transform: translate(0, -50%);
                }                 
              }
              .item-list:hover {
                background-color: #fbfbfb;
              } 
            }
            .more-list{
              padding: 16px;
              display: block;
              a {
                display: block;
                margin: 0 auto;
                background: #eee;
                color: #333;
                line-height: 56px;
                text-align: center;                
              }
            }
            li.not-found{
              display: block;
              padding: 160px 0 60px;
              background: url(notfound.png);
              background-repeat: no-repeat;
              background-position: center 40px;
              background-size: 150px 110px;
              text-align: center;
              font-size: 16px;
              color: #ccc;              
            }         
          }
        }
        &__content.is-show {
          display:block;
        }
        &__content.is-show2{
          display:block;
        }
      }
      // 個別ページ
      // 購入した商品
      section.purchased-index{
          background: #fff;
          h2{
            padding: 0 4%;
            background: #fafafa;
            font-size: 16px;
            line-height: 72px;
          }
      }
      // 次へ、前へ
      ul.mypage-history{
        position: relative;
        margin: 16px 4% 0;
        height: 44px;
      
        li{
          position: absolute;
          top: 0;
          display: inline-block;
          width: 44px;
          height: 44px;
          border-radius: 4px;
          background: #fff;
          border: 1px solid #ccc;
          font-size: 14px;
          line-height: 42px;
          i{
            position: absolute;
            top: 35%;
            left: 35%;
          }
        }
        .prev{
          left:0;
        }
        .foward{
          right:0;
        }
      }
      // 追加タイトル
    }
      .mypage-title{
        background-color: white;
        padding: 12px 4%;
        border-bottom: 1px solid #f5f5f5;
        text-align: center;
        font-size: 18px;
        line-height: 1.4;
      }
      //  news
      .news-list{
        position: relative;
        display: block;
        padding: 7.5%;
        color: #333;
        span{
          color: #aaa;          
        }
        h3{
          margin: 8px 0 0;
          font-size: 16px;
          line-height: 1.5;
          font-weight: 400;
          text-align: justify;          
        }
        time{
          i{
            margin: 0 8px 0 0;
            vertical-align: top;
            font-size: 14px;  
          }
        }
      }
      //  review
      .review-list .fas{
        font-size: 16px;
      }
      .fa-smile {
          color: #ef5185;
      }              
      .fa-meh {
        color: #fba933;
      }              
      .fa-frown {
        color: #6ab5d8;
      }
      .item-status{
        display: inline-block;
        margin: 8px 0 0 0;
        padding: 5px 6px;
        border-radius: 2px;
        font-size: 12px;
        color: #fff;        
      }
      .item-status.exhibit{
        background-color: #6ab5d8;
      }
      .item-status.doing{
        background-color: #ea352d;
      }
      .item-status.done{
        background-color: #888;
      }
  }
  .mypage-content:after {
      @include clearFix();
  }    
}   


//お問合せ、ポイント
.light-list{
  width: 100% !important;
  li{
    border-top: none !important;
  }
  a{
    text-align: left;
  }
}

// 発送元
.delivery-form{
  height: 100%;
  h2{
    line-height: 33px;
  }
  .form-format__content{
    max-width: 343px !important;
  }
}

