.signup-login-body{
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
  .fa{
    font-family: FontAwesome;
    font-weight: 100;
    display: inline-block;
  }
  .signup-login{
    padding: 0 0 250px;
}   
}

  // 共通ヘッダー
  header.signup-login__header{
    text-align: center;
    h1{
      display: inline-block;
      a{
        cursor: pointer;
        img{
          width: 120px;
          height: 33px;          
        }
      }
    }
  }
  // 新規登録プログレスバー
  .progress-bar {
    @include progressFormat();
  }
  // 共通フッター
  footer.signup-login__footer{
    box-sizing: border-box;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 250px;
    padding: 40px 0;
    text-align: center;    
    ul{
      justify-content: center;
      display: flex;
      list-style: none;
      li a{
        margin-left: 16px;        
        text-decoration: none;
        font-size: 12px;
        color: #333;
      }
      li.privacy a{
        margin-left: 0;
      }
    }
    .footer-logo{
      width: 80px;
      height: 65px;
      margin: 40px auto 0;
    }  
    p{
      margin: 8px 0 0;
      small{
        font-size: 13px;
      }
    }
  }  
  // signup
  .signup{
    padding: 24px 32px;
  }
  .signup-content{
    max-width: 343px !important;
  }

  // login
  main.login{
    background-color: #fff;
    margin: 0 auto;
  
    .login__way{
      padding: 24px 32px;
      border-top: 1px solid #eee;
    }
    .login-form{
      @include formFormat();
      a{
        display: block;
        margin: 40px 0 0;
      }     
    }
  }
  // step1
  .birthday{
    line-height: 70px;
    height: 48px;
    select{
      font-size: 16px;
      height: 48px;
      background: #fff;
      margin: 10px 2px 0;
      width: 90px;
    }
  }
  // step4
  ul.card-list{
    margin: 8px 0 0;
    li{
     margin-right: 8px;
    }
  }
  // done
  .done-content{
    p{
      font-size: 18px;
      color: #333;
    }
    .btn{
      margin-top: 30px;
    }
  }
 // 共通コンテント
 .signup-login__box{
  &__title {
    background: #fff;
    h2{
      padding: 24px 8px;
      font-size: 18px;
      line-height: 1.5;
      text-align: center;      
    }
  }
  &__content{
    border-top: 1px solid #f5f5f5;
    padding: 40px 40px 64px;      
  } 
}