body.signup-login{
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  font-size: 14px; 
} 
  // 共通ヘッダー
  header.signup-login__header{
    text-align: center;
    h1{
      display: inline-block;
      a{
        cursor: pointer;
        img{
          width: 120px;
          height: 33px;          
        }
      }
    }
  }
  // 新規登録プログレスバー
  .progress-bar {
    @include progressFormat();
  }
  // 共通フッター
  footer.signup-login__footer{
    z-index: 1;
    height: 250px;
    padding: 40px 0;
    text-align: center;
    box-sizing: border-box;    
    ul{
      display: flex;
      list-style: none;    
      li a{
        margin-left: 16px;        
        text-decoration: none;
        font-size: 12px;
        display: block;
        color: #333;
      }
      li.privacy a{
        margin-left: 0;
      }
    }
    .footer-logo{
      width: 80px;
      height: 65px;
      margin: 40px auto 0;
    }  
    p{
      margin: 8px 0 0;
    }
  }  
  // signup
  .signup-content{
    max-width: 343px !important;
  }

  // login
  main.login{
    background-color: #fff;
    margin: 0 auto;
  
    .login__way{
      padding: 24px 32px;
      border-top: 1px solid #eee;
    }
    .login-form{
      @include formFormat();
      a{
        display: block;
        margin: 40px 0 0;
      }     
    }
  }
  // step4
  ul.card-list{
    margin: 8px 0 0;
    li{
     margin-right: 8px;
    }
  }
  // done
  .done-content{
    p{
      font-size: 18px;
      color: #333;
    }
    .btn{
      margin-top: 30px;    
    }
  }
 // 共通コンテント
 .signup-login__box{
  background-color: #fff;
  width: 700px;
  margin: 0 auto;
  &__title h2{
    margin: 0;
    font-size: 22px;
    padding: 32px;
    text-align: center;
  }
  &__content{
    border-top: 1px solid #f5f5f5;
    padding: 40px 40px 64px;
    &__btn{
     
    }            
  } 
}