@mixin app-banner {
  display: block;
  background: url(https://www.mercari.com/jp/assets/img/common/jp/top/download_bg_pc.jpg?82236637);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 260px;
  @media screen and (max-width: 768px) {
    display: none;
  }
  &__contents {
    overflow: hidden;
    width: 750px;
    height: 260px;
    margin: 0 auto;
    color: $white;
    
    &__inner {
      width: 420px;
      height: 166px;
      position: relative;
      top: 47px;
      float: left;
      margin-right: 30px;
      &__text {
        &__1 {
          line-height: 1;
          font-size: 1.7vw;
          text-shadow: 0 0 5px rgba(0,0,0,0.4);
        }
        &__2 {
          margin: 10px 0 0;
          line-height: 1;
          font-size: 2.55vw;
          text-shadow: 0 0 5px rgba(0,0,0,0.4);
        }
      }
      &__icons {
        float: left;
        margin: 20px 0 0;
        min-width: 374px;
        height: 68px;
        &__figure-1 {
          position: relative;
          top: 7.5px;
          float: left;
        }
        &__app-google {
          float: left;
          position: relative;
          top: 7px;
          margin: 0 0 0 24px;
          height: 68px;
          &__app {
            position: relative;
            top: 14px;
          }
          &__google {
            margin: 0 0 0 16px;
            position: relative;
            top: 14px;
          }
        }
      }
      &__figure-2 {
        position: relative;
        right: 0;
        float: right;
      }
    }
  }
}