body .mercari-header .app-banner .mercari-footer  {
  margin: 0px;
  padding: 0px;
  color: $black;
}
body {
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}
ul {
  list-style: none;
}
li {
  display: inline;
}
a {
  text-decoration: none;
}
button:focus { outline:0; }