// Place all the styles related to the markup_top_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "config/color";
@import "mixin/items";
@import "mixin/footer";

.mercari-header {
  width: auto;
  height: auto;
  background-color: $white;
  &__inner {
    width: 70.833333%;
    height: 92px;
    margin: 0 auto;
    padding: 8px 0 0;
    &__top {
      position: relative;
      width: 100%;
      height: 40px;
      &__link {
        float: left;
      }
      &__form {
        float: left;
        width: 82.45%;
        height: 40px;
        margin-left: 45px;
        &__input {
          float: left;
          width: 100%;
          height: 40px;
          padding-left: 10px;
          background-color: rgb(245, 245, 245);
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 16px;
          font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
          &__search {
            float: right;
            padding-right: 25px;
            background: url("iconfinder_icon-111-search_314478.png") no-repeat 5px 2px;
          }
        }
      }
    }
    &__bottom {
      margin-top: 8px;
      &--left {
        float: left;
        width: 305.64px;
        height: 44px;
        &__nav {
          font-size: 14px;
          line-height: 32px;
          &__search-category {
            margin-right: 11px;
            &__text {
              vertical-align: middle;
              font-weight: bold;
              color: $black;
            }
          }
          &__search-brand {
            &__text {
              vertical-align: middle;
              font-weight: bold;
              color: $black;
            }
          }
        }
      }
      &--right {
        float: right;
        width: 194.81px;
        height: 32px;
        &__nav {
          font-size: 14px;
          position: relative;
          top: 1px;
          &__sign-up {
            margin-right: 6.88px;
            padding: 7px 10px;
            border-radius: 4px;
            text-align: center;
            line-height: 30px;
            background: $cinnabar;
            border: 1px solid $cinnabar;
            color: $white;
            text-decoration: none;
          }
          &__log-in {
            padding: 7px 10px;
            line-height: 30px;
            border-radius: 4px;
            border: 1px solid $dark_blue;
            background: $white;
            color: $dark_blue;
            text-decoration: none;
          }
        }
      }
    }
  }
}
.mercari-main {
  background: #f5f5f5;
  width: auto;
  &__top {
    position: relative;
    width: auto;
    height: auto;
    &__dots {
      position: absolute;
      top: 360px;
      width: 100%;
      height: 12px;
      text-align: center;
      li {
        display: inline-block;
        margin: 0 7.5px;
        button {
          position: relative;
          text-indent: -9999px;
          background-color: $white;
          border-radius: 50%;
          width: 12px;
          height: 12px;
        }
        &.slick-active {
          background-color: rgba(0,0,0,0.5);
          border-radius: 50%;
          width: 12px;
          height: 12px;
        }
      }
    }
    &--1 {
      position: relative;
      background: url(https://www.mercari.com/jp/assets/img/common/jp/top/main_bg_pc.jpg);
      background-size: cover;
      width: auto;
      height: 390px;
      &__visual {
        position: relative;
        margin: 0 auto;
        max-width: 860px;
        height: 100%;
        &__content {
          position: absolute;
          top: 44px;
          left: 0;
          &__text-1 {
            font-size: 60px;
            line-height: 1.2;
            color: $black;
          }
          &__text-2 {
            margin: 16px 0 0;
            font-size: 18px;
            line-height: 1.77778;
            color: $black;
          }
          &__store {
            margin: 24px 0 0;
            line-height: 0;
            &__app {
              display: inline-block;
              &__image {
                width: 170px;
                height: 50px;
              }
            }
            &__google {
              display: inline-block;
              margin: 0 0 0 8px;
              &__image {
                width: 170px;
                height: 50px;
              }
            }
          }
        }
        &__top-image {
          position: absolute;
          top: 0;
          right: 0;
          width: auto;
          height: 100%;
        }
      }
    }
    &--2 {
      background: url(https://www.mercari.com/jp/assets/img/common/jp/top/banner-camp.jpg);
      background-size: cover;
      width: auto;
      height: 390px;
    }
  }
  &__middle {
    padding: 40px 0;
    margin-top: -30px;
    width: auto;
    &__pickup-category {
      @include pickup-title();
    }
    &__1 {
      @include items;
    }
    &__2 {
      @include items;
    }
    &__3 {
      @include items;
    }
    &__4 {
      @include items;
    }
  }
  &__bottom {
    padding: 40px 0;
    width: auto;
    &__pickup-brand {
      @include pickup-title(40.2%);
    }
    &__1 {
      @include items;
    }
    &__2 {
      @include items;
    }
    &__3 {
      @include items;
    }
    &__4 {
      @include items;
    }
  }
}
.app-banner {
  display: block;
  background: url(https://www.mercari.com/jp/assets/img/common/jp/top/download_bg_pc.jpg?82236637);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 260px;
  &__contents {
    overflow: hidden;
    width: 750px;
    height: 260px;
    margin: 0 auto;
    color: $white;
    &__inner {
      width: 420px;
      height: 166px;
      position: relative;
      top: 47px;
      float: left;
      margin-right: 30px;
      &__text {
        &__1 {
          line-height: 1;
          font-size: 1.7vw;
          text-shadow: 0 0 5px rgba(0,0,0,0.4);
        }
        &__2 {
          margin: 10px 0 0;
          line-height: 1;
          font-size: 2.55vw;
          text-shadow: 0 0 5px rgba(0,0,0,0.4);
        }
      }
      &__icons {
        float: left;
        margin: 20px 0 0;
        min-width: 374px;
        height: 68px;
        &__figure-1 {
          position: relative;
          top: 7.5px;
          float: left;
        }
        &__app-google {
          float: left;
          position: relative;
          top: 7px;
          margin: 0 0 0 24px;
          height: 68px;
          &__app {
            position: relative;
            top: 14px;
          }
          &__google {
            margin: 0 0 0 16px;
            position: relative;
            top: 14px;
          }
        }
      }
      &__figure-2 {
        position: relative;
        right: 0;
      }
    }
  }
}
.mercari-footer {
  bottom: 0;
  padding: 0 20px 10px 20px;
  background-color: #212121;
  color: $white;
  &__top {
    margin: 0 auto;
    width: 72.857%;
    height: 298px;
    &__cells {
      margin: 0 auto;
      padding-top: 18px;
      width: 100%;
      height: 298px;
      &__cell-1 {
        float: left;
        width: 20%;
        &__head {
          @include head;
        }
        &__items {
          @include detail-lists(20px);
          &__icon {
            display: inline-block;
            position: relative;
            margin: 14px 0 0;
            width: 47.531px;
            height: 42px;
            font-size: 12px;
            line-height: 1.5em;
            opacity: .7;
            &__twitter {
              display: inline;
              position: absolute;
              left: 0;
              bottom: 0;
              background: transparent;
              margin: 16px 18px 0 0;
              font-size: 33px;
              color: $white;
            }
            &__facebook {
              display: inline;
              position: absolute;
              left: 0;
              bottom: 1px;
              background: transparent;
              margin: 16px 18px 0 0;
              font-size: 32px;
              color: $white;
            }
          }
        }
      }
      &__cell-2 {
        float: left;
        width: 23%;
        &__head {
          @include head;
        }
        &__items {
          @include detail-lists();
        }
      }
      &__cell-3 {
        float: left;
        padding-right: 40px;
        width: 38.077%;
        &__head {
          color: $white;
          font-size: 16px;
          font-weight: 100;
        }
        &--left {
          float: left;
          padding-right: 10px;
          width: 47.4%;
          &__items {
            @include detail-lists(0);
          }
        }
        &--right {
          float: left;
          padding-left: 10px;
          width: 47.4%;
          &__items {
            @include detail-lists(0);
          }
        }
      }
      &__cell-4 {
        float: left;
        width: 9.4%;
        &__head {
          @include head;
        }
        &__items {
          @include detail-lists(0);
        }
      }
    }
  }
  &__bottom {
    margin: 30px auto 20px;
    width: 1020px;
    height: 37px;
    position: relative;
    display: flex;
    &__image {
      margin-right: 6px;
      color: $white;
    }
    &__copyright {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      font-size: 0.92vw;
      margin: 10px 0 0;
      vertical-align: sub;
    }
  }
}
.mercari-sell-btn {
  position: fixed;
  z-index: 1000;
  bottom: 32px;
  right: 32px;
  width: 160px;
  height: 160px;
  text-align: center;
  font-size: 57px;
  border-radius: 50%;
  background-color: $cinnabar;
  color: $white;
  &__text {
    text-align: center;
    margin: 32px 0 0;
    font-size: 22px;
    line-height: 1;
  }
}
