%nav.breadcrumbs
  %ul.flex
    %li
      = link_to mypage_index_path, class: "" do
        %span メルカリ
      = fa_icon "chevron-right"
    %li
      = link_to mypage_index_path, class: "" do
        %span マイページ
      %i