%ul
  - if @user.products.exhibited.length == 0
    %li.not-found.bold 売却済の商品がありません
  - else
    - @user.products.each do |product|
      -if product.status == "exhibited"
        %li
          = link_to product_path(product), class: "item-list" do
            %figure
              = image_tag product.product_images.first.image.url
            .message-box
              .message 
                = product.name
              .item-status.done 売却済
            = fa_icon "chevron-right"