%ul
  /  - if message.present?
  %li
    = link_to "", class: "item-list" do
      %figure
        = image_tag "camera.jpeg", alt: "商品画像"  
      .message-box
        .message 
          事務局から個別メッセージ「ログイン通知」
        .item-status.done 売却済
      = fa_icon "chevron-right"
  / - else
  /   %li.not-found.bold 現在、やることリストはありません      