%ul
  /  - if message.present?
  %li
    = link_to "", class: "item-list" do
      %figure
        = image_tag "camera.jpg", alt: "商品画像"  
      .message-box
        .message 
          最終値下げ！iPhone7 SIMフリー 128GBか
          %p ¥26,555
      = fa_icon "chevron-right"
  / - else
  /   %li.not-found.bold 現在、やることリストはありません      