%body.mypage
  = render partial: 'breadcrumb'
  %main.mypage-content.flex
    .side
      = render partial: 'sidebar'
    .mypage-content__r-content
      %section.mypage-content__r-content__index
        .mypage-content__r-content__index__content.is-show2
          %h2.mypage-title.bold ニュース一覧
          = render partial: 'news_panel'