%body.mypage
  = render partial: 'breadcrumb'
  %main.mypage-content.flex
    .side
      = render partial: 'sidebar'
    .mypage-content__r-content
      %h2.mypage-title.bold プロフィール
      %form{class: "profile"}
        .profile__name
          %figure
            = image_tag "user-icon.jpg", size: "60x60", alt: "ユーザーアイコン"
          %input{type: "text", class: "setting-input"}
        .profile__content
          /placeholderに改行つける（）
          = text_area :profile, :profile, class: "textarea-default profile-area", placeholder: '例）こんにちは☆ ご覧いただきありがとうございます！かわいいものやきれいめオフィス&#13;&#10;カジュアル中心に出品しています。服のサイズは主に9号です。気持ちよくお取引できる&#13;&#10;よう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ♪'.html_safe       
          %input{type: "submit", value: "変更する", class: "btn"}

           