= link_to "", class: "products-box-content__product" do
  = image_tag "camera.jpg", class: "product-photo"
  .product-box-body
    %h3.product-box-body__name
      camera
    .product-box-body__number