@mixin pickup-title($margin: 39.5%) {
  margin-left: $margin;
  font-size: 28px;
  line-height: 1.4;
  color: $black;
  font-weight: bold;
}
@mixin items {
  text-align: center;
  &__title {
    margin: 26px 11px;
    &__font {
      color: $dark_blue;
      text-decoration: none;
      font-size: 22px;
      font-weight: bold;
      line-height: 1;
    }
  }
  &__items {
    @media screen and (min-width: 1068px) {
      display: flex;
      margin: 0 auto;
      width: 932px;
      height: 100%;
    }
    @media screen and (max-width: 1068px) {
      margin: 0 auto;
      width: 699px;
      height: 330px;

    }
    @media screen and (max-width: 700px) {
      margin: 0 auto;
      width: 466px;
      height: 100%
    }
    &__item {
      display: inline-block;
      margin: 0 0 0 20px;
      width: 213px;
      height: 330px;
      @media screen and (max-width: 1068px) {
        
      }
      &:first-child {
        @media screen and (max-width: 700px) {
          margin: 0 20px 0 0;
        }
      }
      &:nth-child(2) {
        @media screen and (max-width: 700px) {
          margin: 0;
        }
      }
      &:nth-child(3n) {
        @media screen and (max-width: 700px) {
          display: inline-block;
          margin: 20px 20px 0 0;
          width: 213px;
          height: 330px;
        }
      }
      &:last-child {
        display: inline-block;
        margin: 0 0 0 20px;
        width: 213px;
        height: 330px;
        @media screen and (max-width: 1068px) {
          visibility: hidden;
        }
        @media screen and (max-width: 700px) {
          visibility: visible;
          margin: 20px 0 0 0;
        }
      }
      &__bottom {
        width: 100%;
        height: 100%;
        background-color: $white;
        text-align: center;
        &__image {
          width: 213px;
          height: 213px;
        }
        &__article-name {
          overflow: auto;
          position: relative;
          padding: 16px 16px 0 16px;
          font-weight: 400;
          color: $black;
          height: 3em;
          line-height: 1.5;
          text-align: left;
        }
        &__article-name::-webkit-scrollbar {
          display: none;
        }
        &__price-heart {
          margin-top: 8px;
          padding: 0 16px 16px;
          &__article-price {
            float: left;
            font-size: 17px;
            font-weight: 600;
            color: $black;
          }
          &__article-heart {
            float: right;
            &__count {
              display: inline-block;
              margin-left: -3px;
              font-weight: 400;
              color: $black;
            }
          }
        }
      }
    }
  }
  &__view-all {
    padding: 20px 0 30px;
    width: auto;
    margin: 0 auto;
    bottom: 4px;
    &__text {
      position: relative;
      left: 28.2%;
      line-height: 1;
      color: $dark_blue;
      font-size: 14px;
    }
  }
}