// テキスト

.bold {
  font-weight: 600;
}
.m-top8{
  margin: 8px 0 0;
}
.m-right8{
  margin: 0 8px 0 0;
}
.m-left16{
  margin: 0 0 0 16px;
}
.m-top40{
  margin: 40px 0 0;
}
.flex{
  display: flex;
}
.inlign-block{
  display: inline-block;
} 